@use '../config/variables' as var;

.#{var.$ns}-container {
  width: 100%;
  padding-left: 22.5px;
  padding-right: 22.5px;

  @media (768px < width) {
    padding-left: 0;
    padding-right: 0;
  }
}