@use '../config/variables' as var;

.#{var.$ns}-cookie-concensas {
  & * {
    --fz: 11;
  }
  *:has(b) {
    --fz: 14;
    margin-bottom: .5rem;
  }
  & > * {
    --lh: 1.2;
    padding: 1em 1.5em;
  }
  footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .#{var.$ns}-button {
    --fz: 11;
    --px: 1.6;
    --py: 1.1;
  }
}