<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wheels with WebComponents</title>
    <link rel="stylesheet" href="/src/styles/main.scss">
    <script src="/src/scripts/main.ts" type="module" defer></script>
</head>
<body>
    <main id="main">
        <article>
            {% block content %}
            {% endblock %}
        </article>
    </main>
</body>
</html>