<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wheels with WebComponents</title>
    <link rel="stylesheet" href="/src/styles/main.scss">
    <script src="/src/scripts/main.ts" type="module" defer></script>
    {% block head %}
    {% endblock %}
</head>
<body>
  <div class="screenContainer">
    <main class="screen">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="global-footer">
      {% block footer %}
      {% endblock %}
    </footer>
  </div>
</body>
</html>